<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script></head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"><body class="p-3">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<h1 class="text-center mb-3">Userlar</h1>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ism</th>
        <th scope="col">Familya</th>
        <th scope="col">Yil</th>
        <th scope="col">Oy</th>
        <th scope="col">Kun</th>
        <th scope="col">Jins</th>
        <th scope="col">Davlat</th>
        <th scope="col">Shahar</th>
        <th scope="col">Yashash davlati</th>
        <th scope="col">Yashash viloyati</th>
        <th scope="col">Yashash shahri</th>
        <th scope="col">Telefon raqam</th>
        <th scope="col">Manzil</th>
        <th scope="col">Ma'lumoti</th>
        <th scope="col">Oilaviy holati</th>
        <th>btn</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,idx:${users}">
        <th scope="row" th:text="${idx.count}">1</th>
        <td class="d-none" th:text="${user.id}">Mark</td>
        <td th:text="${user.firstName}">Mark</td>
        <td th:text="${user.lastName}">Mark</td>
        <td th:text="${user.year}">Mark</td>
        <td th:text="${user.month}">Mark</td>
        <td th:text="${user.day}">Mark</td>
        <td th:text="${user.sex}">Mark</td>
        <td th:text="${user.country}">Mark</td>
        <td th:text="${user.city}">Mark</td>
        <td th:text="${user.currentCountry}">Mark</td>
        <td th:text="${user.currentRegion}">Mark</td>
        <td th:text="${user.currentCity}">Mark</td>
        <td th:text="${user.phoneNumber}">Mark</td>
        <td th:text="${user.address}">Mark</td>
        <td th:text="${user.yourInfo}">Mark</td>
        <td th:text="${user.yourMartialSts}">Mark</td>
        <td>
            <i class="bi bi-eye text-warning fs-3" style="cursor:pointer;"></i>
            <a th:href="@{${'/admin/yuklash/'+user.id}}" class="bi bi-box-arrow-in-down text-primary fs-3" style="cursor:pointer;"></a>
            <a th:href="@{${'/admin/user-delete/'+user.id}}" class="bi bi-trash-fill fs-3 text-danger" style="cursor:pointer;"></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ism</th>
                            <th>Familya</th>
                            <th>Yil</th>
                            <th>Oy</th>
                            <th>Kun</th>
                            <th>Jinsi</th>
                            <th>Mamlakat</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody id="children-tbody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="../js/script.js"></script>
</body>
</html>